@footerPadding: 4px;

// Die Schaltflkächen im FOOTER sollen nicht ganz an den Rand geklatscht werden
div[data-role=footer] {
    padding-left: @footerPadding;
    padding-right: @footerPadding;
}

// Leider wird das nicht berücksichtigt, wenn man eine Schaltfläche ganz nach rechts schiebt
#syncItems {
    margin-right: 2.5 * @footerPadding;
    float: right;
}

// Bei dem Design des Anmeldedialogs ist sicher noch eine Menge Luft nach oben, aber der Margin entfernt zumindest die Grundhäßlichkeit
#register {
    form {
        margin-left: 15px;
        margin-right: 15px;
    }
}

// Soviel Platz wie möglich für die Überschriften.
.ui-title {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

// Ein ganz klein wenig aufhübschen des Filters.
label[for='showAll'], label[for='showSome'] {
    width: 4em !important;
}
