@footerPadding: 4px;

div[data-role=footer] {
    padding-left: @footerPadding;
    padding-right: @footerPadding;
}

label[for=filter]{
    width:auto;
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 0.35em;
}

#syncItems{
    margin-right: 10px;
    float: right;
}
